<div class="col-lg-5">
  <h1 class="h1-strong">{{title}}</h1>

  <div *ngIf="status =='success'" class="alert alert-success">
    Se han actualizado los datos correctamente!!
  </div>
  <div *ngIf="!userEditForm.form.valid" class="alert alert-danger">
    Ingrese los datos correctamente!!
  </div>
  <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)" class="col-lg-12">
    <p>
      <label>Nombre </label>
      <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required class="form-control">
      <span style="color:red" *ngIf="!name.value && name.touched">
        El nombre es obligatorio
      </span>
    </p>
    <p>
      <label>Apellidos </label>
      <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required class="form-control">
      <span style="color:red" *ngIf="!surname.value && surname.touched">
        El Apellido es obligatorio
      </span>
    </p>
    <p>
      <label>Nick </label>
      <input type="text" name="nick" #nick="ngModel" [(ngModel)]="user.nick" required class="form-control">
      <span style="color:red" *ngIf="!nick.value && nick.touched">
        El Nick es obligatorio
      </span>
    </p>
    <p>
      <label>Email </label>
      <input type="email" name="email" #email="ngModel" class="form-control" [(ngModel)]="user.email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <span style="color:red" *ngIf="!email.value && email.touched">
        El nombre es obligatorio
      </span>
    </p>
    <div *ngIf="user.image">
      <img style="height: 50px;" src="{{url + 'get-image-user/' + user.image}}" alt=""/>
    </div>
    <p>
      <label>Sube tu avatar </label>
      <input type="file"  placeholder="Sube imagen" (change)="fileChangeEvent($event)">
    </p>
    <input type="submit" value="{{title}}" class="btn btn-warning" [disabled]="!userEditForm.form.valid">
  </form>
</div>  