<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a [routerLink]="['/home']" [routerLinkActive]="['active']"class="navbar-brand">{{title}}</a>
      </div>
      <ul *ngIf="identity != null" class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-th-list"></span>
            TimeLine
            </a>
        </li>
        <li>
            <a [routerLink]="['/gente']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-user"></span>
              Gente
              </a>
          </li>        
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity == null">
        <li>
          <a [routerLink]="['/login']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-log-in"></span>
            Login
          </a>
        </li>
        <li>
          <a [routerLink]="['/register']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user"></span>
            Register
            </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="identity != null">
        <li class="avatar">
          <img src="{{url + 'get-image-user/' + identity.image}}" alt="" *ngIf="identity.image">
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{identity.name}} <span class="caret"></span>
          </a>  
          <ul class="dropdown-menu">
            <li>
              <a class="pointer"> <span class="glyphicon glyphicon-user"></span> Mi perfil</a>
            </li>
            <li>
              <a class="pointer"  [routerLink]="['/user-edit']" [routerLinkActive]="['active']"><span class="glyphicon glyphicon-cog"></span> Mis datos</a>
            </li>
            <li>
              <a class="pointer" (click)="logout()"><span class="glyphicon glyphicon-log-out pointer"></span> Cerrar Sesion</a>
            </li>
          </ul>
          
        </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>